<p id="notice"><%= notice %></p>

<p>
  <b>Nascimento:</b>
  <%= @asd.nascimento %>
</p>

<p>
  <b>Sobrenome:</b>
  <%= @asd.sobrenome %>
</p>

<p>
  <b>Gabriel:</b>
  <%= @asd.gabriel %>
</p>


<%= link_to 'Edit', edit_asd_path(@asd) %> |
<%= link_to 'Back', asds_path %>
